[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none;
}
.v-center {
  min-height: 200px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}
.gi-2x {
  font-size: 2em;
}
.gi-3x {
  font-size: 3em;
}
.gi-4x {
  font-size: 4em;
}
.gi-5x {
  font-size: 5em;
}
.margin-ten {
  margin: 10px;
}
#custom-search-input {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #D9230F;
}
.search-query:focus + button {
  z-index: 3;
}
.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.input-group .icon-addon .form-control {
  border-radius: 0;
}
.icon-addon {
  position: relative;
  color: #f2f6f9;
  display: block;
  direction: rtl;
}
.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}
.icon-addon:after {
  clear: both;
}
.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px;
}
.icon-addon.addon-md .form-control,
.icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}
.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
  color: #f2f6f9;
}
.choosing-section {
  background-color: #f2f6f9;
  padding: 15px;
}
.general-page {
  margin-top: 10px;
  margin-bottom: 10px;
}
.border-left-small {
  border-left: 2px #f2f6f9 solid;
}
.right-direction {
  direction: rtl;
}
.brand-txt {
  position: relative;
  top: 5px;
  font-size: large;
}
.select-store-body {
  background-color: Window;
  padding: 15px;
}
store-selection .row {
  margin-bottom: 5px;
  margin-top: 5px;
}
.choose-store-txt {
  margin-top: 5px;
}
.add-store-txt {
  font-style: normal;
  text-decoration: underline;
  cursor: pointer;
}
.compare-button {
  margin-left: 0px;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 0xp;
  padding-bottom: 0xp;
  background-color: #f2f6f9;
  border: 1px solid #dbe4eb;
  font-weight: bold;
  text-decoration: none;
  font-size: large;
  height: 35px;
  text-align: center;
  float: left;
}
.search-text {
  font-size: large;
  margin-top: 5px;
}
.search-input {
  font-size: medium;
}
.search-section {
  margin-top: 20px;
}
.search-results-header {
  background-color: #f2f6f9;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: medium;
  border-bottom: #dbe4eb 1px solid;
}
.item-image {
  height: 50px;
  width: 50px;
  margin: 5px;
}
.item-row {
  margin: 10px;
  border-bottom: solid 2px #f2f6f9 ;
}
.dropdown-menu {
  right: 0px;
  overflow: auto;
  max-height: 300px;
}