<div>
    <div class="raw">
        <h4 class="text-center">{{$ctrl.item.itemName}}</h4> 
    </div>
    <div class="row">
        <div class="col-md-4">
            <span ng-click="$ctrl.aaa()"> {{$ctrl.item.manufacturerName}} </span>
        </div>
        <div class="col-md-4">
            <span> {{$ctrl.item.quantity}}</span>
        </div>
        <div class="col-md-4">
            <input type="checkbox"
                   class="pull-right"
                   ng-model="$ctrl.isChecked"
                   ng-change="$ctrl.onCheckboxClick($ctrl.isChecked)"
                  />
        </div>
    </div>
</div>

